
.container {
    min-height: 100vh;
    background-color: #000408;
}
.nav__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 3rem;
    align-items: center;
    color: white;
    height: 4rem;
    border-bottom: 1px solid #4c545c ;
    box-shadow: 0 2px 2px black;
}
.nav__item {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.wrap__icon {
    border: 1px solid #252830;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    padding-top: 4px;
    padding: 0 2px;
}
.wrap__icon:hover {
    border: 1px solid #78808e;
}
.nav__text {
    font-weight: 400;
    font-size: 1rem;
    color:  whitesmoke;
    padding:4px 5px;
    cursor: pointer;
}
.nav__text:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
.search {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #4c545c ;
    padding: 0.3rem;
    font-size: 14px !important;
    border-radius: 10px;
    width: 24rem;
    color: #78808e !important;
    cursor: pointer;
}
.search div {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search div p {
    font-weight: 500;
}
.search div p span {
    padding: 2px;
    border: 1px solid #4c545c ;
    border-radius: 3px;
}
.listOption {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.itemsOption {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.avatar {
    width: 2.4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}


@media(max-width: 500px) {
    .nav__container {
        padding: 1rem 2rem;
    }
    .search .text_search,
    .hidden
    {
        display: none;
    }
    .search {
        width: fit-content;
        padding: 1px;
    }
    .listOption {
        gap: 1rem;
    }
    .nav__item {
        gap: 0.5rem;
    }
    .subContent {
        width: 100%;
        padding: 1rem;
    }
}