
.containerCard {
    width: 100%;
    min-height: fit-content;
    max-height: 100vh;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1rem 1rem;
    border-bottom: 0.2px solid rgba(172, 152, 152, 0.2);
}
.containerCard .AvtImg {
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 50%;
    margin-top: 10px;
}
.name {
    letter-spacing: 1.5px;
    font-size: 1rem;
}
.boxData {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}
.boxImg {
    width: 95%;
}
.dataImg {
    height: 22rem;
    aspect-ratio: 1/1;
    border-radius: 10px;
}
.boxIcon {
    display: flex;
    color: white;
    justify-content: space-between;
    width:75%;
}
.grIcon {
    display: flex;
    font-size: 14px;
    color: gray;
    align-items: center;
    gap: 10px;
}