
.box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
.form {
    background-color:#161b22 ;
    color: white;
    width: 300px;
    padding: 1em 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 3px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.button {
    padding: 8px;
    border-radius: 4px;
    outline: none;
    font-weight: 700;
}
.routeToSignup {
    width: 300px;
    padding: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 3px;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

.routeToSignup .link{
   color:  #2f81f7;
   text-decoration: none;
}
.routeToSignup .link:hover{
    text-decoration: underline;
 }
 .loader {
    margin: auto;
 }
    
 .statementSignup {
    width: 300px;
    padding: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 3px;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
 }

 .failure{
    color: red;
    font-weight: 700;
 }
 .success {
    color: aquamarine;
    font-weight: 700;
 }