
.newContain {
    background-color: #0c1017;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    padding: 3rem 2rem;
}
.titleRepo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 12px;
    border-bottom: 0.5px solid  #7c8490;
}
h3 {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.policy {
    color: #7c8490;
    font-size: 13.4px;
}
.titleRepo span {
    color: #1f6fde;
    font-weight: 300;
    font-size: 14px;
}
.createNewRepo {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}
.messageRequired {
    font-size: 15px;
    font-weight: 300;
    color: #ced8d3;
}
.namedRepo {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    width: fit-content;
    position: relative;
}
.slash {
    font-size: 1.5rem;
}
.fieldsRepo {
    display: flex;
    padding: auto;
    height: 31px;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-top: 7px;
    border: 1px solid  #4c545c;
    padding:0.7rem;
    border-radius: 7px;
    background-color: #21272c;
    color: #a2a9b3;
    cursor: pointer;
}
.fieldsRepo img {
    height: 22px;
    border-radius: 50%;
}
.filterRepo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    width: 14rem;
    background-color: #171b23;
    padding: 7px;
    border-radius: 10px;
    margin-top: 2px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
    animation: slide-down 100ms ease-out forwards;
}
.cotainerlookinforRepo {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.lookinForRepo {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.lookinForRepo:hover {
    background-color: #282e36;
 }
.lookinForRepo img {
    height: 22px;
    border-radius: 50%;
}


@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}