.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 7rem;
    margin: 2rem;
    font-weight: 900;
    letter-spacing: 12px;
}

.message {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 7px;
    margin: 3px;
}
.message2 {
    font-weight: 300;
    margin: 3px;
}
.box button {
    outline: none;
    padding: 5px;
    margin-top: 24px;
    border-radius: 5px;
    background-color: #2f81f7;
    color: white;
    cursor: pointer;
}
.box button:hover {
    transition: all;
    scale: 0.9;
}