.Post {
    width: 100%;
    height: fit-content;
    padding: 1rem 1rem;
    display: flex;
    gap: 2rem;
    border-bottom:  0.2px solid rgba(255, 255, 255, 0.2);
}
.Post .img {
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 50%;
    margin-top: 10px;
}
.tweet {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    gap: 1.3rem;
}
.tweet input {
    outline: none;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    padding-bottom: 3rem;   
    width: 100%;
}
.grTextAndImg {
    border-bottom:  0.2px solid rgba(255, 255, 255, 0.2);
}
.addImg {
    height: 450px;
    overflow-y: scroll;
}
.grTextAndImg img {
    width: 100%;
}
.grActionTweet {
    display: flex;
    justify-content: space-between;
}
.grActionTweet .grICon {
    display: flex;
    gap: 12px;
    color: rgb(29, 155, 240);
}
.grActionTweet .grICon > * {
    width: 22px;
}
.grbutton {
    width: 20%;
}
.openFolder input {
    display: none;
}